<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.axebank">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/axe_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/axe_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Update"></activity>
        <activity android:name=".Profile" />
        <activity android:name=".History" />
        <activity android:name=".Contact" />
        <activity android:name=".About" />
        <activity android:name=".LoanDetails" />
        <activity android:name=".Loan" />
        <activity android:name=".MPIN" />
        <activity android:name=".Registration" />
        <activity android:name=".SendMoney" />
        <activity android:name=".HomePage" />
        <activity android:name=".ForgotPassword" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>